.container {
  padding: 0 2rem;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  line-height: 1.15;
  font-size: 3rem;
  font-weight: bolder;
  animation: fadeIn;
  animation-duration: 3s;
  align-items: center;
  text-align: center;
  margin: 50;
}

.title span {
  animation: colorchange 8s infinite alternate;
}

@keyframes colorchange {
  0% {
    color: #05299e;
  }
  25% {
    color: #5e4ae3;
  }
  50% {
    color: #947bd3;
  }
  75% {
    color: #f0a7a0;
  }
  100% {
    color: #f26ca7;
  }
}

.subtitle {
  margin: 0;
  font-weight: lighter;
  animation: fadeInDelay;
  animation-duration: 6s;
  color: black;
}

.subtitle2 {
  margin: 0;
  font-weight: lighter;
  animation: fadeInDelay2;
  animation-duration: 7s;
  color: black;
}

.image1 {
  margin-top: 50px;
  max-height: 400px;
  max-width: 400px;
  animation: fadeInDelay2;
  animation-duration: 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelay2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelay3 {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
