.container {
  padding: 0 2rem;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}
.container object {
  min-height: 60vh;
  max-width: 70vw;
  min-width: 30vw;
  align-self: center;
}

.container h1 {
  align-self: center;
  font-weight: lighter;
  font-variant: u;
}

.midrow {
  justify-content: center;
  align-self: center;
  display: flex;
  margin: 100;
}

.col {
  max-width: 30vw;
  margin-right: 50px;
  font-size: min(10pt, 1.5vw);
}

.col h2 {
  font-size: 18pt;
}
